extends layout/layout
block container
    include ./blocks/partner
    include ./blocks/plan_trip
    include ./blocks/step
    include ./blocks/booking
    include ./blocks/works
    include ./blocks/service
    include ./blocks/feature
