.js-between {
  justify-content: space-between;
}
.work {
  position: relative;
  background: #ffffff;
}
.work-img {
  margin-left: 170px;
}
.work-img-main {
  width: 350px;
  //   height: 458px;
  background: #ffffff;
  box-shadow: 0px 40px 126px -10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mr-12 {
  margin-right: 12px;
}
.text-12 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #777e91;
}
.btn-1 {
  background: #3b71fe;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 17px;
  border: 0;
  color: #ffffff;
}

.work-img-traveler {
  position: absolute;
  width: 216px;
  height: 115px;
  background: #ffffff;
  box-shadow: 0px 60px 120px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  left: 560px;
  box-sizing: border-box;
  padding: 22px 34px;
  top: 200px;
  z-index: 6;
}

.work-img-info {
  position: absolute;
  width: 230px;
  //   height: 276px;
  left: 140px;
  top: 430px;
  background: #ffffff;
  box-shadow: 0px 12px 120px -10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 30px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb-6 {
  margin-bottom: 6px;
}
.bold {
  font-weight: bold;
}
.btn-long {
  padding: 10px 65px;
}
.work-content {
  margin-left: 218px;
}
.mb-40 {
  margin-bottom: 40px;
}

.frame {
  width: 60px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 20px 80px rgb(0 0 0 / 12%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  align-items: flex-start;
}

.mb-15 {
  margin-bottom: 15px;
}

.max-w-300 {
  max-width: 300px;
}

@media screen and (max-width: 1439px) {
  .work-content {
    margin-left: 150px;
  }
}
@media screen and (max-width: 1279px) {
  .work-img {
    margin-left: 120px;
  }
  .work-content {
    margin-left: 150px;
  }
  .work-img-info {
    left: 40px;
  }
  .work-img-traveler {
    left: 420px;
    top: 180px;
  }
}
@media screen and (max-width: 1023px) {
  .work {
    flex-direction: column;
    align-items: center;
  }
  .work-img {
    margin-left: 0;
    margin-bottom: 220px;
  }
  .work-img-info {
    left: calc(50% - 340px);
  }
  .work-img-traveler {
    left: calc(50% + 100px);
  }
  .work-content {
    margin-left: 0;
  }
  .mb-40 {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .work-img-main {
    transform: scale(0.8);
  }
  .work-img-info {
    transform: scale(0.7);
    left: -20px;
    top: 350px;
  }
  .work-img-traveler {
    left: calc(50% + 50px);
    transform: scale(0.7);
  }
  .work-img {
    margin-bottom: 110px;
  }
  .f-16 {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 539px) {
  .text-desc {
    font-size: 14px;
  }
  .work-img-main {
    transform: scale(0.8);
  }
  .work-img-info {
    transform: scale(0.5);
    left: -40px;
    z-index: 7;
    top: 350px;
  }
  .work-img-traveler {
    left: calc(50% + 10px);
    transform: scale(0.5);
  }
  .work-img {
    margin-bottom: 90px;
  }
  .booking-item {
    padding: 10px;
  }
  .booking-card {
    transform: scale(0.9);
  }
}
