.booking.container
    .booking-content
        h3.text-title.text-left Easy Trip Booking Website
        p.text-small.f-16.max-w-530 A new way to book travel online, saving you time. With trip, There are no confusing spreadsheets or complicated searches. We just ask the right questions, find the best deal for you, then book it.
        .booking-group
            .booking-item
                img.booking-icon(src="../../images/brand_logo-1.png", alt="")
                p.booking-title Trip Advisor
                p.booking-text Cheap Flights Amazing Experiences 
            .booking-item
                img.booking-icon(src="../../images/brand_logo-2.png", alt="")
                p.booking-title Arbn
                p.booking-text Cheap Choose From a Wide Range of Properties Which Booking
            .booking-item
                img.booking-icon(src="../../images/brand_logo-3.png", alt="")
                p.booking-title Turkish Kargo
                p.booking-text Best Flights Amazing Services 
            .booking-item
                img.booking-icon(src="../../images/brand_logo-4.png", alt="")
                p.booking-title Itata
                p.booking-text Cheap Flights Amazing Experiences
    .booking-card
        .flex-center
            img.flex-icon(src="../../images/mask-avatar.png", alt="")
            .item-group
                p.flex-title.f-16.mb-0 Hey! Welcome to Airtrav 
                p.flex-text.f-14 Please Select to one
        .draw-rectangular
            .draw-rectangular-child
                .draw-circle
                .draw-line
                .draw-line
                .draw-line
            .draw-rectangular-child
                .draw-circle
                .draw-line
                .draw-line
                .draw-line

        