.feature.container
    p.text-title.mb-60 Discover our Features
    .feature-group
        .feature-item
            .flex-center
                .feature-icon
                    img(src="../../images/icon-trip.png", alt="")
                p Share Your Travel Plan
            p Ticket is an ultra-convenient way to buy your train or bus ticket online in seconds.
        .feature-item
            .flex-center
                .feature-icon
                    img(src="../../images/rout.png", alt="")
                p Share Your Travel Plan
            p Ticket is an ultra-convenient way to buy your train or bus ticket online in seconds.
        .feature-item
            .flex-center
                .feature-icon
                    img(src="../../images/card.png", alt="")
                p Share Your Travel Plan
            p Ticket is an ultra-convenient way to buy your train or bus ticket online in seconds.
        .feature-item
            .flex-center
                .feature-icon
                    img(src="", alt="")
                p Share Your Travel Plan
            p Ticket is an ultra-convenient way to buy your train or bus ticket online in seconds.