header.header
  .header-menu
    img.header-logo(src="../../images/logo.png", alt="")
    ul.header-menu-list
      li.header-menu-item Things To Do
      li.header-menu-item Tour
      li.header-menu-item Blog
    .header-menu-info 
      ul.header-menu-contact
        li USD
        li FAQ
      img.header-menu-noti(src="../../images/icon-noti.png", alt="")
      img.header-menu-avatar(src="../../images/avatar.png", alt="")
  .header-content
    .header-content-info 
      p.header-content-title Travel Planning <br> Made 
        span.color-yellow Easy
      p.header-content-desc We make it easy to plan and book your next trip with a Day by Day itinerary.
      button.btn-plan Plan a Trip
      p.header-content-desc.mt-70 Our customers say 
      .header-content-evalue
        .header-content-star
          p.header-content-star-title Excellent
          img(src="../../images/5-star.png", alt="").header-content-star-title
        .header-content-num
          p.header-content-star-num 4.7
          p.header-content-star-desc out of 5 on 194 reviews
    .header-content-img 
      img(src="../../images/bg-header-content.png", alt="")
      .header-content-guide
        .header-content-guide-icon
          img(src="../../images/icon-video.png", alt="").header-content-guide-img
          p.header-content-guide-live live
        p.header-content-guide-time 24/7 
        p.header-content-guide-desc Guide Support 
          
  button.btn-plan.center.d-none Plan a Trip
