.partner
    .partner-item
        img.partner-img(src="../../images/amadeus.png", alt="")
    .partner-item
        img.partner-img(src="../../images/booking.png", alt="")
    .partner-item
        img.partner-img(src="../../images/trivago.png", alt="")
    .partner-item
        img.partner-img(src="../../images/trainline.png", alt="")
    .partner-item
        img.partner-img(src="../../images/cheapflight.png", alt="")
    .partner-item
        img.partner-img(src="../../images/momondo.png", alt="")