.plan_trip
    h3.text-title Innovative Trip Planning
    p.text-desc Our Vision is to revolutionize the way people travel by <br> introducing intelligent trip planning
    .plan_trip-group
        .plan_trip-item
            .plan_trip-icon    
                img(src="../../images/icon-sun.png", alt="").plan_trip-image
            p.plan_trip-content Partner allows you to browse multiple carriers for travel.
            a.plan_trip-link(href="#") Learn More 
                img(src="../../images/icon-arrow-right.png", alt="").icon-arrow
        .plan_trip-item
            .plan_trip-icon    
                img(src="../../images/icon-tv.png", alt="").plan_trip-image
            p.plan_trip-content The website is a way for partners to communicate with their customers.
            a.plan_trip-link(href="#") Learn More 
                img(src="../../images/icon-arrow-right.png", alt="").icon-arrow
        .plan_trip-item
            .plan_trip-icon    
                img(src="../../images/icon-book.png", alt="").plan_trip-image
            p.plan_trip-content The eBook Reader is a new way to look at e-books.
            a.plan_trip-link(href="#") Learn More 
                img(src="../../images/icon-arrow-right.png", alt="").icon-arrow