.service.container
    p.text-title.mb-12.color-white Airtrav Best Services 
    p.text-desc.mb-40.color-white Love by airtrave all services and amazine trip booked plane
    .service-group
        .service-item
            .service-img.mb-12
                img(src="../../images/city.png", alt="")
            .f-24.bold 100,000
            .f-16.flex-text.min-h cities all over the world
        .service-item
            .service-img.mb-12
                img(src="../../images/card.png", alt="")
            .f-24.bold 100
            .f-16.flex-text.min-h Gift card over the world
        .service-item
            .service-img.mb-12
                img(src="../../images/rout.png", alt="")
            .f-24.bold 1000
            .f-16.flex-text.min-h Guest referrals over
        .service-item
            .service-img.mb-12
                img(src="../../images/star.png", alt="")
            .f-24.bold 5 Star
            .f-16.flex-text.min-h Reviews Customar 