.step.container
    .step-table
        .step-table-content
            h3.step-table-title Create Your Trip
            p.step-table-text Set up all trip
            button.step-table-btn Plan a Trip
                img(src="../../images/icon-arrow-right-blue.png", alt="").btn-img
            .step-list
                .step-item
                    .dot
                    p.step-table-title.f-16 Set Up your Account
                    p.step-table-text.f-14 Book your best exprience
                .step-item
                    .dot
                    p.step-table-title.f-16 Day by day Plan
                    p.step-table-text.f-14 Book your best exprience
                .step-item
                    .dot
                    p.step-table-title.f-16 Booking System
                    p.step-table-text.f-14 Book your best exprience
        p.step-table-price $50.00
            span / per Trip
        .step-table-turn 
            img(src="../../images/icon-arrow-right.png", alt="").step-table-img
            p.step-table-turn-desc 
                span.bold 01
                span  / 03 
            img(src="../../images/icon-arrow-left.png", alt="").step-table-img
    .step-content
        .text-title.text-left Book Easy 3 Steps
        .text-small.f-14 Planning a trip is sometimes not easy. But Trip Plan will help you to manage time and budget for your journey! There are only 3 steps: Create an account, choose your destination city.
        .step-list
            .step-item
                .dot.blue
                p.step-table-title.f-16.color-black Set Up your Account
            .step-item
                .dot.blue
                p.step-table-title.f-16.color-black Day by day Plan
            .step-item
                .dot.blue
                p.step-table-title.f-16.color-black Booking System
        .step-noti.f-16 “Plan your trip with a 3-step trip plan. Check in out at a glance, selecthotel rooms on the go, and create a packing list”
        .flex-center 
            img.flex-icon(src="../../images/avator.png", alt="")
            .item-group
                p.flex-title.f-18 Steve Jobs
                p.flex-text.f-18 Co-Founder and CEO
