.work.container.flex-center.flex-start
    .work-img
        .work-img-main
            .flex-center.js-between.mb-24
                .flex-center
                    img.flex-icon(src="../../images/logo-bg-white.png", alt="")
                    .item-group
                        p.flex-title.f-16.mb-0 Airtrav Trip Planner
                img(src="../../images/icon-arrow-down.png", alt="")
            img(src="../../images/img-how-works.png", alt="").mb-12
            .work-img-view.flex-center.js-between
                .flex-center
                    img(src="../../images/avator-view.png", alt="").mr-12
                    p.text-12 See All
                button.btn-1 Book Now
        .work-img-traveler
            p.f-16 10k New Traveler
            img(src="../../images/traveler-avator.png", alt="")
        .work-img-info
            img(src="../../images/profile.png", alt="").mb-12
            p.f-16.mb-6 Bete Raisley
            p.text-12.mb-12 Traveller
            img(src="../../images/social.png", alt="").mb-6
            button.btn-1.bold.btn-long Message 
    .work-content
        .text-title.text-left How does it works
        .text-desc.text-left.mb-40 We find the absolute best prices on hotels & flights then we pass these savings directly to you.
        .work-content-list
            .flex-center.flex-start.mb-15 
                .frame.flex-icon
                    img(src="../../images/icon-user.png", alt="")
                .item-group
                    p.flex-title.f-16 Account
                    p.flex-text.f-16.max-w-300 All the necessary information to create your account are below this.
            .flex-center.flex-start.mb-15 
                .frame.flex-icon
                    img(src="../../images/icon-books.png", alt="")
                .item-group
                    p.flex-title.f-16 Select Destination
                    p.flex-text.f-16.max-w-300 At first choose the place you wanted to go
            .flex-center.flex-start.mb-15 
                .frame.flex-icon
                    img(src="../../images/icon-trip.png", alt="")
                .item-group
                    p.flex-title.f-16 Book a Trip
                    p.flex-text.f-16.max-w-300 book your tip form our exclusive offers
            .flex-center.flex-start
                .frame.flex-icon
                    img(src="../../images/icon-plane.png", alt="")
                .item-group
                    p.flex-title.f-16 Take your flight
                    p.flex-text.f-16.max-w-300 Take your flight on selected date and joy